body {
  align-items: center;
  font-family: "Inter", sans-serif;
  margin: 70px;
  padding: 0;
  background-color: #000000;
  color: rgb(255, 255, 255);
}

h1 {
  margin : 40px;
  text-align: center;
  color: #ffffff;
}

h2 {
  text-align: center;
  color: #ffffff;
  margin-top: 50px;
}

.producto {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  border-style: inset;
  border: 1px solid #e50914;
  border-radius: 10px;
  margin-top: 40px;
  margin-left: 300px; 
  margin-right: 300px;
  margin-bottom: 40px;
  box-shadow: 
  0 0 10px #E50914, /* Sombra difusa */
  0 0 20px #E50914 /* Sombra más difusa */
}
.producto {
  background-color: rgb(41, 41, 41);
}
.carrito {
  margin-top: 50px;
  border-top: 2px solid #e50914;
  margin-bottom: 40px;
}

.carritoproducto {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.botoncito {
  button::hover {
    color: #094fe5;
  }
  margin-top: 20px;
  margin-bottom: 2em;
}

.centradito {
  display: flex;
  justify-content: center;
  align-items: center;
}



.total {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-bottom: 20px; 
  margin-top: 10px;
}

button {
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  color: #e50914;
}

.productos {
  background-color: aquas;
}

h2 {
  color: #ffffff;
}

.metododepago {
  display: grid;
  grid-template-columns: 10fr 10fr;
  grid-template-rows: repeat(1, 80px);
  border-radius: 22px;
  margin-top: 40px;
  margin-left: 300px; 
  margin-right: 300px;
  margin-bottom: 40px;
  gap: 5px;
  border-color: #e50914;
  border-style: inset;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: rgb(41, 41, 41);
  box-shadow: 
  0 0 10px #E50914, /* Sombra difusa */
  0 0 20px #E50914 /* Sombra más difusa */
}


.container {
  display: grid;
  grid-template-columns: 30fr 60fr;
  grid-template-rows: repeat(1, 80px);
  border-radius: 10px;
  gap: 20px 20px;
  margin: 20px 20px;
  border-color: #e50914;
  border-style: inset;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
}

.destacar {
  display: inline-block;
  width: 250px;
  height: 200px;
  margin: 5px;
}

.destacar:hover {
  width: 270px;
  height: 220px;
}

img {
  transition: 3s;
}

.logopago {
  width: 50px;
  height: 50px;
  align-items: end;
}

#paypal {
  width: 90px;
  height: 60px;
  align-items: end;
}

#bizum {
  width: 70px;
  height: 30px;
  align-items: start;
}

#checking {
  align-self: center;
  align-content: center;
}

.cuadradito {
  display: flex;
  justify-content: center;
  height: 20%;
  width: 20%;
  margin-bottom: 11%;
  padding: 10%;
  border-style: dotted;
  border: 3px solid #e50914;
  border-radius: 100px;
  box-shadow: 
  0 0 10px #E50914, 
  0 0 20px #E50914
}

.cuadradito {
  display: grid;
  grid-template-columns: 80px 80px;
  grid-template-rows: repeat(1, 80px);
  border-radius: 10px;
  gap: 10px;
  margin: 30px;
  border-color: #e50914;
  border-style: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  background-color: rgb(41, 41, 41);
}

#medio {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 10px;
}

.producto img {
  display: flex;
  justify-content: center;
  height: 20%;
  width: 20%;
  margin-top: 2%;
  margin-bottom: 2%;;
  border: 3px solid #e50914;
  border-radius: 10px;
}

.producto img {
width: 150px;
height: 150px;
}