body {
  font-family: "Inter", sans-serif;
  margin: 70px;
  padding: 0;
  background-color: #000000;
  color: rgb(255, 255, 255);
}

h1 {
  margin : 40px;
  text-align: center;
  color: #ffffff;
}

h2 {
  text-align: center;
  color: #ffffff;
  margin-top: 50px;
}

.producto {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  border-style: inset;
  border: 1px solid #e50914;
  border-radius: 10px;
}

.carrito {
  margin-top: 50px;
  border-top: 2px solid #333333;
  padding-top: 10px;
}

.carritoproducto {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.total {
  font-weight: bold;
  margin-top: 10px;
}

button {
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  color: #e50914;
}

.productos {
  background-color: aquas;
}

h2 {
  color: #ffffff;
}

.metododepago {
  display: grid;
  grid-template-columns: 10fr 10fr;
  grid-template-rows: repeat(1, 80px);
  border-radius: 10px;
  gap: 10px;
  margin: 70px;
  border-color: #e50914;
  border-style: inset;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.container {
  display: grid;
  grid-template-columns: 30fr 60fr;
  grid-template-rows: repeat(1, 80px);
  border-radius: 10px;
  gap: 20px 20px;
  margin: 20px 20px;
  border-color: #e50914;
  border-style: inset;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
}

.destacar {
  display: inline-block;
  width: 250px;
  height: 200px;
  margin: 5px;
}

.destacar:hover {
  width: 270px;
  height: 220px;
}

img {
  transition: 3s;
}

.logopago {
  width: 50px;
  height: 50px;
  align-items: end;
}

#paypal {
  width: 90px;
  height: 60px;
  align-items: end;
}

#bizum {
  width: 70px;
  height: 30px;
  align-items: start;
}

