body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    margin-top: 2em;
    margin-bottom: 1em;
}

.cine-individual {
    padding: 30px;
    margin: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px; /* Ancho fijo para cada cine */
    height: auto; /* Permite que la altura se ajuste automáticamente */
    margin-bottom: 70px;
    max-width: 100%;
}

.cine-individual img {
    width: 500px;
    height: 350px;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: 1s;
}

.cine_titulo_1 {
    font-size: 1.5em;
    padding: 0;
    margin: 0;
    text-align: center;
    overflow-wrap: break-word;
    max-width: 200px;
    white-space: normal;
    padding-top: 50px;
}

.contenedor-de-cines {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: 600;
    margin-bottom: 7em;
}

.highlight-cines {
    box-shadow: 
        0 0 10px #E50914, /* Sombra difusa */
        0 0 20px #E50914 /* Sombra más difusa */
}

#cine1 {
    padding-right: 50px;
}

#cine2 {
    padding-left: 50px;
}

.fotocine {
    height: 400px; /* Set a fixed height to prevent layout shift */
    width: 550px; /* Set a fixed width to prevent layout shift */
}

.fotocine img:hover {
    height: 400px; /* Ensure the hovered image size matches the wrapper */
    width: 550px; /* Ensure the hovered image size matches the wrapper */
}

.fotocine img{
    transition: 1s;
}

span {
    word-spacing: 0px;
    line-height: 45px;
}

.informacion-general {
    margin-top: 40px;
    font-weight: 400;
    text-align: left;
    padding-left: 100px;
}

.informacion-general span {
    display: block;
}