@import url(/css/estilospersonalizados.css);
.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
body {
    background-image:url(/img/fondocinepresencial.jpg);
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    color: #FFFFFF; /* Color de texto blanco */
    font-family: var(--inter-font)
    margin: 0; /* Elimina márgenes por defecto */
    text-align: center; /* Centra el texto en el cuerpo */ 
}


.logo {
    position: absolute; /* Posiciona el logo en la parte superior izquierda */
    top: 20px; /* Ajusta la distancia desde la parte superior */
    left: 20px; /* Ajusta la distancia desde la izquierda */
    width: 50px; /* Ajusta el tamaño del logo */
    height: auto;
}

.titulo-container {
    margin-top: 60px; /* Espacio entre el logo y el título */
}


.subtitulo {
    font-size: 40px; /* Tamaño del subtítulo */
    color: #E50914; /* Color rojo similar a Netflix */
    margin: 0; /* Elimina márgenes */
    font-family:monospace;
    text-shadow: 0 0 5px #1818189c,  0 0 15px #000000; /* Efecto de brillo blanco */
    
}

body {
    font-size: 20px;
    color:#000000; /* Color de texto blanco */
    font-family: monospace; /* Fuente general */
    margin: 0; /* Elimina márgenes por defecto */
    text-align: center; /* Centra el texto en el cuerpo */
    
}
.carrusel {
    display: flex;
    justify-content: center; /* Centra el carrusel */
    overflow: hidden; /* Oculta el desbordamiento */
    margin: 20px 0; /* Espacio arriba y abajo del carrusel */
}

.pelicula {
    margin: 0 10px; /* Espacio entre las películas */
    border: 5px solid #000000; /* Borde blanco brillante */
    border-radius: 10px; /* Bordes redondeados */
    transition: transform 0.3s; /* Efecto de transición */
    text-shadow:0 0 5px #cf2812;
}

.pelicula:hover {
    transform: scale(1.05); /* Efecto de aumento al pasar el ratón */
}

.pelicula img {
    width: 200px; /* Ancho de las imágenes */
    height: auto; /* Altura automática para mantener la proporción */
    border-radius: 10px 10px 0 0; /* Bordes redondeados en la parte superior */
}

.pelicula h3 {
    font-size: 30px;
    color: #f5ebeb; /* Color del título de la película */
    text-align: center; /* Centra el texto */
    margin: 10px 0; /* Espacio arriba y abajo del título */
    text-shadow:  0 0 10px #e000006b, 0 0 15px #db000000; /* Efecto de brillo blanco */
    
}
/* Agrega este estilo en tu archivo style.css */
.seleccion-asientos .imagen-pelicula {
    width: 30px; /* Reducir el tamaño de la imagen */
    height: auto;
    margin-right: 20px;
    border-radius: 10px;
    margin-top: 20px; /* Mover la imagen más arriba */
}
/* Fondo específico para la página de selección de asientos */
body.seleccion-asientos {
    background-color: #000000; /* Fondo negro mate */
    background-image: none; /* Elimina cualquier imagen de fondo */
}
.seleccion-asientos .header {
    padding-top: 5px; /* Reduce el espacio superior */
}

.seleccion-asientos .titulo {
    font-size: 70px;
    margin-top: -50px; /* Ajusta la posición del título */
}

.seleccion-asientos .subtitulo {
    font-size: 40px;
    margin-top: -20px; /* Ajusta la posición del subtítulo */
}
.seleccion-asientos .contenedor-pelicula {
    display: flex;
    align-items: center;
    margin: 20px;
}

.seleccion-asientos .info-pelicula {
    max-width: 600px;
}
.seleccion-asientos .imagen-pelicula {
    width: 200px; /* Ajusta el ancho de la imagen */
    height: 350px; /* Ajusta el alto de la imagen */
    margin-right: 20px;
    border-radius: 10px;
    object-fit: cover; /* Ajusta la imagen para que se adapte al contenedor */
    border: 5px solid #fff; /* Agrega un marco blanco */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Agrega una sombra para resaltar el marco */
}
/* Estilos para el título de la película */
.seleccion-asientos .titulo-pelicula {
    font-size: 40px;
    margin-bottom: 10px;
    color: #FFFFFF; /* Cambiamos el color a blanco */
    text-shadow: none; /* Quitamos el text-shadow */
    margin-top: -10px; /* Subimos el texto un poco más arriba */
}

/* Estilos para los detalles de la película */
.seleccion-asientos .detalles-pelicula {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    font-size: 18px;
    color: #FFFFFF; /* Cambiamos el color a blanco */
    text-shadow: none; /* Quitamos el text-shadow */
}

/* Estilos para la introducción de la película */
.seleccion-asientos .introduccion {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #FFFFFF; /* Cambiamos el color a blanco */
    text-shadow: none; /* Quitamos el text-shadow */
}
.boton-seleccion-cine {
    background-color: #E50914;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.opciones-cine {
    display: none;
    margin-top: 10px;
}

.opcion-cine {
    background-color: #f0f0f0;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.opcion-cine.seleccionado {
    background-color: #E50914;
    color: #fff;
}
.cine-selector {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.entradas-selector label {
    color: #ff0000; /* Agrega esto para cambiar el texto "Entradas" a blanco */
    text-shadow: none !important;
}

.entradas-selector input {
    background-color: #FFFFFF; /* Agrega esto para cambiar el fondo del campo de entradas a blanco */
    color: #000000; /* Agrega esto para cambiar el texto de los números de entradas a negro */
    text-shadow: none !important;
}
.tipo-entrada-selector {
    margin-bottom: 10px;
    color: #E50914;
}

.total-selector {
    position: absolute;
    bottom: 340px;
    left: 40px;
    margin-top: 10px;
    text-shadow: none !important;
    color: #ff0000;
}
.tipo-entrada-selector {
    margin-bottom: 40px;
}
.total-selector input {
    width: 100px;
    padding: 5px;
    border: 1px solid #000000;
    border-radius: 4px;
    font-size: 16px;
    text-align: right;
}
.sala-de-cine {
    width: 30%; /* Reducir el ancho de la sala */
    margin: 20px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    text-align: center;
}

.asientos-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columnas */
    gap: 10px; /* Espacio entre asientos */
    margin: 30px 0;
}

.asiento {
    width: 50px; /* Ancho de los asientos */
    height: 50px; /* Alto de los asientos */
    background-color: #555;
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px; /* Tamaño de la fuente */
}

.asiento.seleccionado {
    background-color: #E50914; /* Color rojo para asientos seleccionados */
}
.confirmar-asiento {
    background-color: #E50914;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.confirmar-asiento:disabled {
    background-color: #888;
    cursor: not-allowed;
}
#formulario-pago {
    color: #9c1818;
    border: 1px solid #fff;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  #formulario-pago label {
    color: #ffffff;
  }
  
  #formulario-pago input {
    color: #921111;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 5px;
  }
  
  #boton-pagar {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #boton-pagar:hover {
    background-color: #3e8e41;
  }
  #boton-finalizar-compra {
    background-color: #E50914;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: left;
  margin-left: 50px;
}

  
  #boton-finalizar-compra:hover {
    background-color: #C40000;
  }