body {
    background-color: #141414;
    color: white;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.5em;
    margin: 0;
    
}

.serie-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

.serie-header img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.serie-header h1 {
    font-size: 3em;
    margin: 0;
}

.serie-header p {
    font-size: 1.2em;
    margin: 10px 0;
    max-width: 800px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 10px;
}

.season {
    margin: 20px;
}

.season h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #e50914; /* Color similar a Netflix */
}

.episode-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.episode {
    background-color: #333;
    border-radius: 10px;
    padding: 10px;
    transition: transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.episode:hover {
    transform: scale(1.05);
}

.episode img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.episode h3 {
    margin: 0;
    font-size: 1.2em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 10px;
}

.episode p {
    font-size: 0.9em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 10px;
}

.reproducir {
    background-color: #e50914;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 20px;
}

.reproducir:hover {
    background-color: #f40612;
}

.leer-mas {
    background-color: transparent;
    color: #e50914;
    border: none;
    cursor: pointer;
    font-size: 0.9em;
    margin-top: 10px;
}

.season-selector {
    margin: 20px 0;
    text-align: center;
}

.season-selector select {
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #e50914;
    background-color: #141414;
    color: white;
}

.suggestions {
    margin: 40px 0;
    text-align: center;
}

.suggestions h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #e50914;
}

.suggestions-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.suggestion {
    background-color: #333;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    transition: transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.suggestion:hover {
    transform: scale(1.05);
}

.suggestion img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.suggestion span {
    display: block;
    font-size: 1.2em;
    color: white;
    text-align: center;
}