body {
  font-family: 'Inter', sans-serif;
  background-color: #141414;
  color: white;
}

header {
  text-align: center;
  margin: 20px 0;
}

.serie-detalle {
  display: flex;
  align-items: center;
  margin: 20px;
}

.imagen-serie {
  width: 200px; /* Ajusta el tamaño según sea necesario */
  height: auto;
  margin-right: 20px;
}

.detalle-serie {
  flex: 1;
}

.temporadas {
  margin-top: 20px;
}

.capitulos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.capitulo {
  text-align: center;
}

.capitulo img {
  width: 100px; /* Ajusta el tamaño según sea necesario */
  height: auto;
  border-radius: 5px;
}