body {
    background-color: #141414;
    color: white;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
    margin: 0;
    
}

.season {
    margin-bottom: 40px;
}

.season h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #e50914; /* Color similar a Netflix */
}

.episode-list {
    list-style-type: none;
    padding: 0;
}

.episode {
    background-color: #333;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.episode:hover {
    background-color: #444; /* Efecto hover */
}

.episode h3 {
    margin: 0;
    font-size: 1.5em;
}

.episode p {
    margin: 5px 0;
}

/* Estilo para el footer */
footer {
    margin-top: 20px;
    text-align: center;
}