
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: black;
    color: white;
}


.movie-details-container{
width :95%;
font-size: 24px;
border-width: 1px;
border-style: solid;
margin-top: 3%;
padding: 10px 20px;
background-image: url(/img/Toystory.png);
}
.movie-titile{
    color: black;
    font-size: 24px;
    font-style: normal;
    width: 10%;
}
.Resumen-pelicula{
font-size: 15px;
text-align: start;
border-style: solid;
width: 70%;
border-width: 1px;
border-bottom: 1;
border-top: 0;
border-left: 0;
border-right: 0;
margin-top: 2%;
}
.Options{
    text-align: start;
    display: flex;
    justify-content: flex;
    align-items: start;
    background-color: black;
    border-bottom: 1px solid red;
}