body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: black;
    color: white;
}


#logo {
    font-size: 24px;
    font-weight: bold;
    color: red;
    margin-bottom: 20px;
}

#search-bar {
    width: 100%;
    text-align: center;
}

#search-bar input {
    width: 70%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid gray;
}

.movies-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.movie {
    text-align: center;
    cursor: pointer;
}

.movie img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s;
}

.movie img:hover {
    transform: scale(1.05);
}

.movie h3 {
    margin: 10px 0 5px;
}

.movie span {
    font-size: 14px;
    color: gray;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: black;
    padding: 20px;
    border: 2px solid red;
    text-align: center;
    border-radius: 10px;
    width: 300px;
}

.popup-content h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.popup-content button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.popup-content button:hover {
    background-color: darkred;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (max-width: 480px) {
    .movies-container {
        grid-template-columns: 1fr;
    }
}
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: black;
    color: white;
}



#logo {
    font-size: 24px;
    font-weight: bold;
    color: red;
    margin-bottom: 20px;
}

.movies-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.movie {
    text-align: center;
    cursor: pointer;
}

.movie img {
    width: 100%;
    border-radius: 10px;
    height: 100%;
}

.movie-details-container {
    padding: 20px;
    text-align: center;
}

#movie-title {
    font-size: 28px;
    margin-bottom: 20px;
    color: red;
}

.options {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: darkred;
}