body{
    background-color: black;
    color: white;

}

.producto_detalle {
    display: flex;
    align-items: center;
}

.producto_detalle img{ 
    height: 30em;
    width: 30em;
    margin-right: 20px;
    border-radius: 10%;
}

.nombre_productos {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    text-align: center;
    flex-direction: column-reverse;
}

.información_product {
    margin-left: 20px;
    border: 1px solid red;
    border-radius: 5%;
    width: 70em;
    height: 470px;
}

.información_product button, p {
    text-align: end;
    align-items: end;
    align-content: end;
}