body{
    background-color: black;
    color: white;

}

.producto_detalle {
    display: flex;
    align-items: center;
}

.producto_detalle img{ 
    height: 100%;
    width: 100%;
    width: 27em;
    margin-right: 20px;
    border-radius: 5%;
}

.nombre_productos {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    text-align: center;
    flex-direction: column-reverse;
}

.información_product {
    margin-left: 20px;
    border: 1px solid red;
    border-radius: 5%;
    width: 70em;
    height: 470px;
}

.boton_añadir_carrito {
    display: flex;
    
}