@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
#indexbody {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: "Inter", sans-serif;
}

p {
  display: flex;
  justify-content: center;
  color: #ffffff;
}

img {
  width: 2em;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: 1em;
}

.header {
  display: flex;
  justify-content: space-between; /* Alinea los elementos a los extremos */
  align-items: center; /* Centra verticalmente los elementos */
  padding: 10px; /* Espaciado interno */
}

.icono {
  width: 5em;
  height: 5em;
}

.minimalbutton {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 10px;
  cursor: pointer;
  border-radius: 4px;
  text-transform: uppercase;
  margin-left: auto;
  font-family: "Inter", serif;
}

.minimalbutton:hover {
  background-color: darkred;
}

.miboton {
  background-color: transparent;
  border: 10px;
  color: white;
  cursor: pointer;
  font-size: 30px;
  font-family: serif;
  margin-left: 32px;
  float: left;
  line-height: 70px;
  display: none;
}

.miboton:focus {
  outline: none;
}

nav {
  background-color: rgb(0, 0, 0);
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  background-color: black;
}

nav ul li {
  padding: 20px 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li:hover {
  transform: scale(1.1); /* Aumenta el tamaño del elemento */
  transition: transform 0.2s; /* Suaviza la transición */
}

.buscador {
  display: flex;
  align-items: center;
  justify-content: center; /* Centra el contenido horizontalmente */
  padding: 5px; /* Espaciado interno reducido */
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto; /* Centra el buscador en la página */
  width: 300px; /* Ancho fijo para el buscador */
}

#busqueda {
  width: 70%; /* Ancho del input reducido */
  padding: 5px; /* Espaciado interno reducido */
  font-size: 14px; /* Tamaño de fuente más pequeño */
  border: none;
  border-radius: 4px;
}

#buscar {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px; /* Espaciado interno reducido */
  font-size: 14px; /* Tamaño de fuente más pequeño */
  cursor: pointer;
  border-radius: 4px;
  text-transform: uppercase;
  margin-left: 5px; /* Espaciado entre el input y el botón */
}

#buscar:hover {
  background-color: darkred;
}

footer {
  color: #ffffff;
  display: flex;
  justify-content: space-around;
}

.contenedorimagen {
  padding: 0;
  display: block;
  margin: 0 auto;
}

@media (max-width: 800px) {
  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  nav ul.show {
    display: flex;
  }

  .miboton {
    display: block;
  }
}

@media (max-width: 600px) {
  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  nav ul.show {
    display: flex;
  }

  .miboton {
    display: block;
  }
  nav {
    background-color: rgb(0, 0, 0);
  }
}
head {
  background-color: black;
}
section {
  display: flex;
  width: 600px;
  height: 430px;
}

section img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.5s ease;
}

section img:hover {
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}

.contenedorcarrusel {
  display: grid;
  justify-content: center;
  justify-items: center;
}

.lengua {
  width: 50px; /* Ajusta el tamaño del contenedor */
  margin-left: auto; /* Mueve el contenedor a la derecha */
  padding: 20px;
  border-radius: 5px;
  text-align: end;
}

